modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"

[[ports]]
localPort = 5000
externalPort = 80

[env]
PORT = "5000"

[deployment]
deploymentTarget = "autoscale"
run = ["node", "./dist/index.cjs"]
build = ["npm", "run", "build"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[agent]
integrations = ["javascript_log_in_with_replit:2.0.0", "javascript_database:1.0.0", "javascript_object_storage:2.0.0", "javascript_openai_ai_integrations:2.0.0"]

[userenv]

[userenv.shared]
RUN_NEXT = "true"
GOOGLE_CLIENT_ID = "1049487834512-03nf7vh0aodereokaj0pdui6su13rsmu.apps.googleusercontent.com"
ENABLE_TEST_MODE = "true"
NEXT_PUBLIC_ENABLE_TEST_MODE = "true"
RESEND_FROM_EMAIL = "noreply@copilotinnovations.com"
EMAIL_REPLY_TO = "support@copilotinnovations.com"
VIEW_ALL_LEAVE_REQUESTS_EMAILS = "manan@copilotinnovations.com,matias@copilotinnovations.com"
NEXTAUTH_URL = "https://789b0e46-17ef-460e-acc7-bfff6a8c2d69-00-wsz5tt1qa3gn.sisko.replit.dev"
NEXT_PUBLIC_APP_URL = "https://789b0e46-17ef-460e-acc7-bfff6a8c2d69-00-wsz5tt1qa3gn.sisko.replit.dev"
